.home {
  font-family: 'Source Code Pro Semi Bold', monospace;
  background-color: black;
  color: white;
  height: 100vh;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  display: inline-block;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.home .my-image {
  max-width: 200px;
  height: auto;
  position: relative;
  z-index: 1;
  margin-right: 100px;
}

.home .text {
  flex: 1;
  margin-right: 200px; /* adjust as needed */
  align-items: center;
}

.gradient-background {
  /* width: 200px; 
  height: 200px;  */
  /* max-width: 200px;
  height: auto;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 70%;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5); */
} 