.email-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
  gap: 10px; /* Adjust gap as needed */
  z-index: 1000; /* Ensure it stays above other content */
}

.line {
  width: 2px;
  height: 60px; /* Adjust length as needed */
  background-color: #fff; /* Adjust line color as needed */
  margin-top: 10px;
  margin-right: 10px;
}

.rotate {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: right top;
  color: #fff;
}